﻿@using System.Web.Optimization
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/bundle/base-styles")
    @Scripts.Render("~/bundle/base-scripts")
</head>
<body>
    <div class="header">
        <nav role="navigation" class="navbar navbar-default">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header container-fluid">
                <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle collapsed pull-left">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="@Url.Action("Index", "Home")" class="pull-left">
                    <div class="logo">&nbsp;</div>
                </a>
                <form class="navbar-form collapsed navbar-right" role="search">
                    @Html.Partial("SearchBar")
                </form>
            </div>
            <div id="navbarCollapse" class="collapse navbar-collapse">
                @Html.Partial("MainMenu")
            </div>
        </nav>
    </div>
    <div class="container-fluid">
        @RenderBody()
    </div>
</body>
</html>
