﻿@model dynamic

<ul class="nav navbar-nav">
    <li><a href="#">item 2</a></li>
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">item 1</a>
        <ul class="dropdown-menu">
            <li><a href="#">subitem 1</a></li>
            <li><a href="#">subitem 2</a></li>
            <li><a href="#">subitem 3</a></li>
        </ul>
    </li>
    <li><a href="#">item 3</a></li>
    <li><a href="#">item 4</a></li>
    <li><a href="#">item 5</a></li>
    <li><a href="#">item 6</a></li>
</ul>