﻿@model dynamic

<div class="form-group input-group">
    <input type="text" class="form-control input-sm" id="search-input" name="query">
    <div class="input-group-btn">
        <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
    </div>
</div>