﻿@import "../../colors.less";

.header {
    background-color: @deep-blue;
    border-bottom: 3px solid @light-blue;

    .navbar.navbar-default {
        background-color: transparent;
        border: none;
        margin-bottom: 0;

        .navbar-header {
            width: 100%;
            float: none;
            padding-top: 15px;
            padding-bottom: 15px;

            button {
                margin: 5px 0;
                float: none;
                padding: 8px 6px;
                border-color: white;

                &:focus,
                &:hover {
                    background-color: @light-blue;
                }

                span {
                    background-color: white;
                }
            }

            a {
                display: inline-block;
                line-height: 32px;
                margin: 5px 5px;

                @media (max-width: 382px) {
                    float: right !important;
                }

                .logo {
                    margin: 2px 0;
                    background-image: url("../../../img/logo.png");
                    background-position: 0 -1px;
                    width: 213px;
                    height: 28px;
                }
            }

            .navbar-form {
                padding: 0 15px;
                border: 0;
                -webkit-box-shadow: none;
                box-shadow: none;
                margin-top: 5px;
                margin-bottom: 5px;

                input {
                    background-color: @dirty-blue;
                    border-right: none;
                    border-color: @dark-blue;
                    min-width: 60px;
                    color: white;
                }

                button {
                    z-index: 2;
                    margin: 0 0 0 -1px;
                    padding: 4px 10px;
                    background-color: @dirty-blue;
                    border-color: @dark-blue;
                    border-left: none;

                    .glyphicon-search {
                        color: white;
                    }
                }
            }
        }

        .navbar-collapse {
            width: 100%;
            background-color: @dark-blue;
            overflow-x: hidden;
            border-color: @light-blue;

            .navbar-nav {
                @media (min-width: 768px) {
                    position: relative;
                    left: 50%;
                }

                &:not(.dropdown-menu) > li {
                    @media (max-width: 767px) {
                        border-bottom: 2px solid @deep-blue;
                    }
                }

                li {
                    @media (min-width: 768px) {
                        left: -50%;
                    }

                    a {
                        padding: 5px 20px;
                        color: white;
                        font-weight: bold;
                        text-align: center;

                        &:hover,
                        &:focus {
                            background-color: @light-blue;
                        }
                    }

                    .dropdown-menu {
                        background-color: @dark-blue;
                        border-top: 3px solid @light-blue;
                    }

                    &.open > a,
                    &.active > a {
                        background-color: @light-blue;
                    }

                    &:last-child {
                        border-bottom: none;
                    }
                }
            }
        }
    }
}
