﻿.header {
  background-color: #131B4D;
  border-bottom: 3px solid #009CDE;
}
.header .navbar.navbar-default {
  background-color: transparent;
  border: none;
  margin-bottom: 0;
}
.header .navbar.navbar-default .navbar-header {
  width: 100%;
  float: none;
  padding-top: 15px;
  padding-bottom: 15px;
}
.header .navbar.navbar-default .navbar-header button {
  margin: 5px 0;
  float: none;
  padding: 8px 6px;
  border-color: white;
}
.header .navbar.navbar-default .navbar-header button:focus,
.header .navbar.navbar-default .navbar-header button:hover {
  background-color: #009CDE;
}
.header .navbar.navbar-default .navbar-header button span {
  background-color: white;
}
.header .navbar.navbar-default .navbar-header a {
  display: inline-block;
  line-height: 32px;
  margin: 5px 5px;
}
@media (max-width: 382px) {
  .header .navbar.navbar-default .navbar-header a {
    float: right !important;
  }
}
.header .navbar.navbar-default .navbar-header a .logo {
  margin: 2px 0;
  background-image: url("../../../img/logo.png");
  background-position: 0 -1px;
  width: 213px;
  height: 28px;
}
.header .navbar.navbar-default .navbar-header .navbar-form {
  padding: 0 15px;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin-top: 5px;
  margin-bottom: 5px;
}
.header .navbar.navbar-default .navbar-header .navbar-form input {
  background-color: #28356D;
  border-right: none;
  border-color: #101742;
  min-width: 60px;
  color: white;
}
.header .navbar.navbar-default .navbar-header .navbar-form button {
  z-index: 2;
  margin: 0 0 0 -1px;
  padding: 4px 10px;
  background-color: #28356D;
  border-color: #101742;
  border-left: none;
}
.header .navbar.navbar-default .navbar-header .navbar-form button .glyphicon-search {
  color: white;
}
.header .navbar.navbar-default .navbar-collapse {
  width: 100%;
  background-color: #101742;
  overflow-x: hidden;
  border-color: #009CDE;
}
@media (min-width: 768px) {
  .header .navbar.navbar-default .navbar-collapse .navbar-nav {
    position: relative;
    left: 50%;
  }
}
@media (max-width: 767px) {
  .header .navbar.navbar-default .navbar-collapse .navbar-nav:not(.dropdown-menu) > li {
    border-bottom: 2px solid #131B4D;
  }
}
@media (min-width: 768px) {
  .header .navbar.navbar-default .navbar-collapse .navbar-nav li {
    left: -50%;
  }
}
.header .navbar.navbar-default .navbar-collapse .navbar-nav li a {
  padding: 5px 20px;
  color: white;
  font-weight: bold;
  text-align: center;
}
.header .navbar.navbar-default .navbar-collapse .navbar-nav li a:hover,
.header .navbar.navbar-default .navbar-collapse .navbar-nav li a:focus {
  background-color: #009CDE;
}
.header .navbar.navbar-default .navbar-collapse .navbar-nav li .dropdown-menu {
  background-color: #101742;
  border-top: 3px solid #009CDE;
}
.header .navbar.navbar-default .navbar-collapse .navbar-nav li.open > a,
.header .navbar.navbar-default .navbar-collapse .navbar-nav li.active > a {
  background-color: #009CDE;
}
.header .navbar.navbar-default .navbar-collapse .navbar-nav li:last-child {
  border-bottom: none;
}